	<p>
	  <b>Matéria:</b>
	  <%= prova.materia %>
	</p>

	<p>
	  <b>Justificativa de re-correção:</b>
	  <%= prova.descricao %>
	</p>

<p>
	<%= link_to 'Desfazer Solicitação', [prova.user, prova], :confirm => 'Are you sure?', :method => :delete %>
</p>