<h1>Home#index</h1>
<p>
	<% if user_signed_in? %>
		<%= current_user.email %>
	<% end %>
</p>

	<%= link_to "login", users_path %>
	<%= link_to "Fechar Sessão", destroy_user_session_path, :method => "delete" %>
	
<p>Find me in app/views/home/index.html.erb</p>
